* {
  box-sizing: border-box;
}

html, body { min-height: 100%; }
a { text-decoration: none; }

.main-header {
    background: linear-gradient(#3F94BF, #246485);
    padding: 0px;
    text-align: center;
    background: #f1103a;
    //color: white;
    border-radius:50%;
//    text-shadow: #222 0px -1px 1px;
    position: relative;
    width: 32px;
    height:32px;
 
    cursor:pointer;
    transition: width 2s ease 0s;
    .toggle-menu {
	position: obsolute;
	left: 20px;
	top: 20px;
	color: white;
	font-size: 16px;
	cursor: pointer;
    }
}

.main-header{
    z-index: 1000;
    left: 20px;
    top: -20px;
    text-indent: -9000px;
}

.main-header:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background: #fff;
	top: 50%;
	margin-top: -1px;
	left: 25%;
	box-shadow: 0 -4px #fff, 0 4px #fff;
}

.page-wrap {
    float: right;
    width: 100%;
    -webkit-transition: width 2s ease;  
    -moz-transition: width 2s ease;  
    -o-transition: width 2s ease;  
    -ms-transition: width 2s ease;  
    transition: width 2s ease;  
}
 
.plot{
    position:fixed;
    width:100%;
    top:50px;
    display:none;
    -webkit-transition: height 3s ease;  
    -moz-transition: height 3s ease;  
    -o-transition: height 3s ease;  
    -ms-transition: height 3s ease;  
    transition: height 3s ease;  
    #iframe_plot{
	width:100%;
    }
}
#code_area{
    position:fixed;
    width:100%;
    top:50px;
    display:none;
    -webkit-transition: height 3s ease;  
    -moz-transition: height 3s ease;  
    -o-transition: height 3s ease;  
    -ms-transition: height 3s ease;  
    transition: height 3s ease;  
    #iframe_code{
	width:100%;
    }
}
#log{
    top:50px;
    position:absolute;
    overflow:auto;
//    width:100%;
    height:600px;
    transition: all 2s ease;
}
p#file{
    position:obsolute;
}
.menu-nav-check{
    display:none;
}
.menu-check {
  display: none;
}

#menu li{
    display: block;
    background: linear-gradient(rgb(62, 62, 62), rgb(56, 56, 56)) repeat scroll 0% 0% transparent;
    border-top: 1px solid rgb(72, 72, 72);
    border-bottom: 1px solid rgb(46, 46, 46);
    color: white;
    padding: 15px;
    &:hover, &:focus {
      background: linear-gradient(#484848, #383838);
    }
  }

#menu {
  position: fixed;
  top: 0;
  left:-25px;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow: hidden;
  transition: width 0.3s ease;
  
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 34px;
    background: linear-gradient(left, rgba(black, 0), rgba(black, 0.4));
  }
}

#content {
  padding: 100px 20px 20px 20px;
}

.close-menu {
  display: none;
}

.page-wrap#log.logs{
    position:absolute;
    top:20%
    bottom:0;
    right:0;
    overflow:auto;
}

#menu-nav-check:checked ~ #menu {
  width: 20%;
}
#menu-nav-check:checked + .page-wrap {
  width: 80%;
  .open-menu {
     display: none; 
  }
  .close-menu {
     display: block;
  }
  .main-header {
      width: 80%;
      left: 20%;
  }
}

#code_area ~ #plot:checked {
//    width:300px
#log{
    top=300px
}
}